# Analysing The Titanic Dataset for Learning Purpose

In [0]:
# import the required libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [12]:
# importing the dataset
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [0]:
# changing factors to int class in both train and test set
df_train['Sex'] = df_train['Sex'].replace(['male', 'female'], [0,1])
df_test['Sex'] = df_test['Sex'].replace(['male', 'female'], [0,1])
df_train['Embarked'] = df_train['Embarked'].replace(['S','C','Q'], [0,1,2])
df_test['Embarked'] = df_test['Embarked'].replace(['S','C','Q'], [0,1,2])

In [14]:
# Dropping the NaN Values in both the sets
print('The length of training set before dropping NaN rows:',len(df_train))
print('The length of test set before dropping NaN rows:',len(df_test))
df_train.dropna(axis=0,how = 'any', inplace=True)
df_test.dropna(axis=0, how='any', inplace=True)
print('The length of training set after dropping:', len(df_train))
print('The length of test set after dropping:', len(df_test))

The length of training set before dropping NaN rows: 891
The length of test set before dropping NaN rows: 418
The length of training set after dropping: 183
The length of test set after dropping: 87

In [0]:
# first method to classify we use Decision Tree
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import tree

In [17]:
df_test.head()

    PassengerId  Pclass  ...            Cabin  Embarked
12          904       1  ...              B45         0
14          906       1  ...              E31         0
24          916       1  ...  B57 B59 B63 B66         1
26          918       1  ...              B36         1
28          920       1  ...              A21         0

[5 rows x 11 columns]

In [0]:
# doing feature selection manually
X = df_train.iloc[:, [2,4,5,6,7,9,11]]
x_real_test = df_test.iloc[:, [1,3,4,5,6,8,10]]
y = df_train.iloc[:, 1]
y_real_test = df_test.iloc[:, 1]

In [0]:
# taking the max_depth as 4 to avoid over-fitting if occurs
clf = tree.DecisionTreeClassifier(criterion='entropy',max_depth=4)
clf = clf.fit(X, y)

In [0]:
y_pred = clf.predict(x_real_test)

In [54]:
# using accuracy_score function to find the accuracy of the model
from sklearn.metrics import accuracy_score
print('The accuracy of the Decision tree model:',accuracy_score(y_real_test, y_pred))

The accuracy of the Decision tree model: 0.7011494252873564

In [0]:
# Now doing it with knn
from sklearn.neighbors import KNeighborsClassifier

In [0]:
# calculated as the square root of the length of the training dataset after processing
clf_knn = KNeighborsClassifier(n_neighbors=13)
clf_knn = clf_knn.fit(X,y)

In [0]:
y_pred_knn = clf_knn.predict(x_real_test)

In [55]:
print('The accuracy of the KNN model:',accuracy_score(y_real_test, y_pred_knn))

The accuracy of the KNN model: 0.8390804597701149

In [0]:
# using svm 
from sklearn.svm import SVC
clf_svm = SVC(gamma='scale')
clf_svm = clf_svm.fit(X, y)

In [0]:
y_pred_svm = clf_svm.predict(x_real_test)

In [56]:
print('The accuracy of the SVM model:',accuracy_score(y_real_test, y_pred_svm))

The accuracy of the SVM model: 0.896551724137931